* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Webpage Background Color */
body {
    background-color: #d9dcd6;
}

/* Page Header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Page Header - Company Name */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Make "seo" in Company Name different */
.seo {
    color: #d9dcd6;
}

/* Navigation Bar */
.topnav {
    display: inline-block;
    margin-left: 25px;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.topnav ul {
    list-style-type: none;
}

.topnav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Hyperlink formatting */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph formatting */
p {
    font-size: 16px;
}

/* Hero/cover image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/* Float formatting */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Left column (Offerings) */
.offerings {
    width: 75%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

/* Left column headings */
.offerings h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Left column images */
.offerings img {
    max-height: 200px;
}

/* Formatting for each section of left column (Individual Offerings) */
.offering-individual {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Right column (Benefits) */
.benefits {
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Right column headings */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Right column images */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Formatting for each section of right column (Individual Benefits) */
.benefit-individual {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer heading */
.footer h2 {
    font-size: 20px;
}
